.message {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-bottom: 41px;
}

.imageAndText {
	display: flex;
	flex-direction: row-reverse;
	gap: 10px;
}

.imageAndText img {
	width: 48px;
	height: 48px;
}

.text {
	position: relative;
	background-color: #0066cc;
	color: #fff;
	box-shadow: 0px 1px 2px 0px #1d21261a;

	box-shadow: 0px 5px 20px 0px #1d212608;
	border-radius: 10px;

	padding: 7px 13px;
}

.text:after {
	content: '';
	position: absolute;
	/* bottom: 312px; */
	/* right: 741px; */
	bottom: 0;
	right: -14px;
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-left: 23px solid #0066cc;
}

.name {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 600;
	line-height: 21.94px;
	text-align: left;
}

.messageText {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.5px;
	text-align: left;
}

.time {
	font-family: Montserrat;
	font-size: 10px;
	font-weight: 600;
	line-height: 12.19px;
	text-align: left;
	padding: 0 11px;
}
