.sendForm {
	display: flex;
	justify-content: space-between;
}

.textarea {
	background: #f5f7fb;
	border-radius: 20px;
	max-width: 976px;
	width: 100%;
	overflow: hidden;
	resize: none;
	padding: 12px 24px;

	box-shadow: 0px 1px 2px 0px #1d21261a;

	box-shadow: 0px 5px 20px 0px #1d212608;

	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 17.07px;
	text-align: left;
}

.button {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 600;
	line-height: 19.5px;
	text-align: left;
	background: #0066cc;
	color: #fff;
	width: 120px;
	height: 40px;
	border-radius: 20px;
	text-align: center;
	border: none;
}

.button:hover {
	cursor: pointer;
}
.button:active {
}
